services:
  rabitmql:
    container_name: rabbitmq
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
    build:
      context: .
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq